.box {
    top: 0;
    left: 0;
    position: fixed;
    color: black;
    background-color: $color_white;
}

.modal_close {
    width: fit-content;
    padding: 1rem 1.6rem;
    color: $color_light;
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: $color_background;
    border-radius: 3rem;
    transition: all ease 0.3s;
    &:hover {
        color: $color_white;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
