.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 4rem);
    @media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
        height: calc(100% - 3rem);
    }
    @media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
        height: calc(100% - 3rem);
    }
}

.center_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: calc(100% - 310px);
    height: 95vh;
    @media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
        width: calc(100% - 260px);
    }
    @media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
        width: calc(100% - 180px);
    }
}

.center__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level {
    width: 310px;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
        width: 260px;
        height: calc(100% - 3rem);
    }
    @media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
        width: 180px;
        height: calc(100% - 3rem);
    }
}

.aside {
    width: 310px;
    height: calc(100% - 4rem);
    @media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
        width: 260px;
        height: calc(100% - 3rem);
    }
    @media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
        width: 180px;
        height: calc(100% - 3rem);
    }
}

.block_display {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    border: 1rem solid $color_dark;
    border-radius: 0.4rem;
    @media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
        // font-size: 1.3rem;
    }
    @media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
        // font-size: 1rem;
    }
}

@media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
}
@media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
}
